body {
	background-color: #ecf0fa;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiBadge-dot {
	background-color: #43DDC1 !important;
}

/* div.DraftEditor-root {
	border: 1px solid grey;
	border-radius: 7px;
  background-color: beige;
  height: 200px;
  width: 80%;
	overflow-y: auto;
	margin: 0 auto;
}
div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
} */
