body {
	background-color: #ecf0fa;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiBadge-dot {
	background-color: #43DDC1 !important;
}


.Dropzone {
  height: 200px;
	width: 30vw;
	padding: 30px;
  background-color: #fff;
  border: 1px dashed rgba(187, 186, 186, 0.884);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
	font-size: 16px;
	margin: 25px auto;
}

.Highlight {
  background-color: #43DDC1;
}

.FileInput {
  display: none;
}